@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-zinc50: #fafafa;
  --color-zinc100: #f4f4f5;
  --color-zinc200: #e4e4e7;
  --color-zinc300: #d4d4d8;
  --color-zinc400: #a1a1aa;
  --color-zinc500: #71717a;
  --color-zinc600: #52525b;
  --color-zinc800: #27272a;
  --color-orange: #f64617;
  --color-blue: #1747f6;
  --color-lightblue: #7290ff;
}

button {
  cursor: pointer;
}

@layer components {
  .bg-primary-gradient {
    @apply bg-[radial-gradient(100%_100%_at_100%_50%,#F64617_0%,#FD6E32_100%)];
  }
  .bg-secondary-gradient {
    @apply bg-[radial-gradient(66.51%_66.51%_at_66.51%_50%,#1747F6_0%,#7290FF_100%)];
  }

  .shadow-primary {
    @apply shadow-[0_4px_24px_0_rgba(246,70,23,0.3)];
  }
  .shadow-secondary {
    @apply shadow-[0_4px_24px_0_rgba(34,80,247,0.3)];
  }
}

/*      Buttons      */
.btn-motion {
  position: relative;
  overflow: hidden;
}
.btn-motion:hover > span {
  animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

@keyframes MoveUpInitial {
  to {
    transform: translate3d(0, -140%, 0);
  }
}
@keyframes MoveUpEnd {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* view link cursor */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite; /* 8s = slow */
}

/* webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(
    66.51% 66.51% at 66.51% 50%,
    #1747f6 0%,
    #7290ff 100%
  );
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
